@{
    ViewData["Title"] = "Reports";
}

<h1>Reports</h1>

<ul>
    <li><a asp-action="PayrollJournal">Payroll Journal</a></li>
    <li><a asp-action="SocialSecurityReport">Social Security Report</a></li>
    <li><a asp-action="FiscalReport">Fiscal Report</a></li>
</ul>
